{% extends "base.html" %}

{% block style %}
  <style>
    th {
      background-color: #f2f2f2;
    }
    th, td {
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }
  </style>
  
{% endblock style %}


{% block content %}
  <h1>Pandas 써보기</h1>
    <table>
      <tr>
        {% for column in df.columns %}
          <th>{{ column }}</th>
        {% endfor %}
      </tr>
      {% for row in df.values %}
        <tr>
          {% for value in row %}
            <td>{{ value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
{% endblock content %}


